<ul>
    <li>
        <h3>{{name}}</h3>
        <p>Інформаці про компанію</p>
        <button>Відвідати сайт</button>
    </li>
    <li>
        <h3>{{name}}</h3>
        <p>Інформаці про компанію</p>
        <button>Відвідати сайт</button>
    </li>
    <li>
        <h3>{{name}}</h3>
        <p>Інформаці про компанію</p>
        <button>Відвідати сайт</button>
    </li>
    <li>
        <h3>{{name}}</h3>
        <p>Інформаці про компанію</p>
        <button>Відвідати сайт</button>
    </li>
    <li>
        <h3>{{name}}</h3>
        <p>Інформаці про компанію</p>
        <button>Відвідати сайт</button>
    </li>
    <li>
        <h3>{{name}}</h3>
        <p>Інформаці про компанію</p>
        <button>Відвідати сайт</button>
    </li>
</ul>